{% extends 'index.html' %}

{% block title %}{{ article.pk }}{% endblock %}

{% block content %}
    <p>{{ article.title }}</p>
    <p>{{ article.created }}</p>
    <p>{{ article.content }}</p>
    {% if request.user.is_authenticated %}
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Оставить комментарий"></p>
        </form>
    {% else %}
        <p>Чтобы оставлять комментарии, вам нужно <a href="{% url 'login' %}?next={{ request.path }}">войти в аккаунт</a></p>
    {% endif %}
    {% for  comment in article.comments.all %}
        <p>{{ comment.user }}</p>
        <p>{{ comment.body }}</p>
    {% endfor %}
{% endblock %}
