{% extends 'index.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
    <form action="" method="post" class="search">
        <label for="id_search_text"></label>
        <input type="text" name="search_text" maxlength="300" required="" id="id_search_text" placeholder="Введите запрос...">
        {% csrf_token %}
        <input type="submit" value="Искать" id="submit">
    </form>
    {% if search_text %}
        <p style="color: white">
            Поиск по запросу "{{ search_text }}":
        </p>
    {% endif %}
    {% for article in object_list %}
        <p>
            <a href="{% url 'article_detail' pk=article.pk %}">{{ article.title }}</a>
        </p>
    {% empty %}
        <p>Пока новостей нет</p>
    {% endfor %}
    {% include "pagination.html" with page=object_list %}
{% endblock %}
