{% extends 'index.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
    <form action="" method="post" class="search">
        <label for="id_search_text"></label>
        <input type="text" name="search_text" maxlength="300" required="" id="id_search_text"
               placeholder="Введите запрос...">
        {% csrf_token %}
        <input type="submit" value="Искать" id="submit">
    </form>
    {% if search_text %}
        <p style="color: white">
            Поиск по запросу "{{ search_text }}":
        </p>
    {% endif %}
    {% for article in object_list %}
        <div class="blog-article-preview">
            <a href="{% url 'article_detail' pk=article.pk %}" class="article-title">{{ article.title }}</a>
            <p><i>Автор:</i> {% include 'user_username.html' with user=article.author %}, <i>дата
                публикации {{ article.publish }}</i></p>
            <p>{{ article.content|linebreaksbr|safe|truncatewords_html:200 }}</p>
        <a href="{% url 'article_detail' pk=article.pk %}">Читать далее...</a>
        </div>
    {% endfor %}
    {% include "pagination.html" with page=object_list %}
{% endblock %}
