{% extends 'index.html' %}

{% block title %}Аутентификация{% endblock %}

{% block content %}
    <form action="{% url "login" %}" method="post" class="transparent">
    <div class="form-inner">
        <h3>Авторизация</h3>
        {{form.as_p}}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% if form.errors %}
            <p>Имя пользователя и пароль не совпадают.</p>
        {% endif %}
        <p><input type="submit" value="Войти"></p>
        <a href="{% url "register" %}">Регистрация</a>
        <a href="{% url "reset_password" %}">Зыбыли пароль?</a>
        </div>
    </form>
{% endblock %}
