{% extends 'index.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Введите новый пароль дважды:</p>
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Подтвердить"></p>
        </form>
    {% else %}
        <p>
            Ссылка неактивна.
            Вероятно, она уже была использована.
            Пожалуйста, начните процедуру смены пароля сначала.
        </p>
    {% endif %}
{% endblock %}
