{% extends 'archive_detail_frame.html' %}

{% block title %}{{ task.title }}{% endblock %}

{% block archive_detail %}
    <div class="task">
        <h1>{{ task.title }}</h1>
        <p><i>Ограничение по времени: {{ task.time_limit }} сек.</i></p>
        <p>{{ task.body|linebreaksbr }}</p>
        <h4>Входные данные</h4>
        <p>{{ task.input|linebreaksbr }}</p>
        <h4>Выходные данные</h4>
        <p>{{ task.output|linebreaksbr }}</p>
    </div>
    <table class="standart-table">
        <tr>
            <th>Пример входных данных</th>
            <th>Результат</th>
        </tr>
        <tr>
            <td>{{ first_test.content|linebreaksbr }}</td>
            <td>{{ first_test.answer|linebreaksbr }}</td>
        </tr>
    </table>
    <div>
        <form action="" method="post" enctype="multipart/form-data" class="package-send">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Отправить">
        </form>
    </div>
{% endblock %}
