{% extends 'index.html' %}

{% block title %}Архив задач{% endblock %}

{% block content %}
    <table class="task-table">
        <tr>
            <th>Задача</th>
            <th>Решивших</th>
        </tr>
        {% for task in object_list %}
            <tr>
                <td><a href="{% url 'archive_task_detail' task.pk %}">{{ task.title }}</a></td>
                <td>{{ task.solved_by }}</td>
            </tr>
        {% endfor %}
    </table>
    {% include "pagination.html" with page=page_obj %}
{% endblock %}
