{% extends 'courses/course_frame.html' %}

{% block title %}Удаление курса{% endblock %}

{% block course_content %}
    <h3>Удаление курса "{{ object.title }}"</h3>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <p>Вы уверены, что хотите удалить курс "{{ object.title }}"? Действие нельзя будет отменить.</p>
            <p>С удалением курса вы также удаляете весь контент и информацию о курсе.</p>
            <p>Действие нельзя будет отменить.</p>
            <input type="submit" class="course-button" value="Подтвердить удаление">
        </form>
    </div>
{% endblock %}
