{% extends 'courses/course_frame.html' %}

{% block title %}
    {% if object %}
        Управление курсом "{{ object.title }}"
    {% else %}
        Создание нового курса
    {% endif %}
{% endblock %}

{% block course_content %}
    <h3>
        {% if object %}
            Управление курсом "{{ object.title }}"
        {% else %}
            Создание нового курса
        {% endif %}
    </h3>
    <p>Это информация, которая будет показываться на главной странице курса в разделе сайта "Обучение"</p>
    <form action="" method="post" class="course-edit">
        <div class="form-inner">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Сохранить изменения"></p>
        </div>
    </form>
{% endblock %}
