{% extends 'courses/course_frame.html' %}

{% load course %}

{% block title %}Модуль {{ module.order|add:1 }}{% endblock %}

{% block course_content %}
    {% with course=module.course %}
        <h3>Управление содержимым курса "{{ course.title }}"</h3>
        <div class="course-detail-nav">
            {% for module__ in course.modules.all %}
                <p>
                    <a href="{% url 'module_content_list' module__.id %}" {% if module__ == module %}
                       class="selected-module" {% else %}class="module-href"
                    {% endif %}>
                        <span>
                            Модуль <span class="order-cell">{{ module__.order|add:1 }}</span>
                        </span>
                        <br>
                        {{ module__.title }}
                    </a>
                </p>
            {% empty %}
                <p>Модулей пока нет</p>
            {% endfor %}
            {#            <p><a href="{% url 'course_module_update' course.id %}">Редактировать модули</a></p>#}
        </div>
        <div class="course-detail-content">
            <div class="content-edit-wrap">
                {% for content in module.contents.all %}
                    <div data-id="{{ content.id }}" class="content-edit">
                        {% with item=content.item %}
                            <p>Предмет: {{ item }} {{ item|model_name }}</p>
                            <a href="{% url 'module_content_update' module.id item|model_name item.id %}" class="std-button-m">Редактировать</a>
                            <form action="{% url 'module_content_delete' content.id %}" method="post">
                                <input type="submit" value="Удалить" class="std-button-m">
                                {% csrf_token %}
                            </form>
                        {% endwith %}
                    </div>
                {% empty %}
                    <p>В этом модуле пока что нет контента.</p>
                {% endfor %}
            </div>
            <h3>Добавить контент</h3>
            <ul class="content-add-menu">
                <li><a href="{% url 'module_content_create' module.id 'text' %}">Текст</a></li>
                <li><a href="{% url 'module_content_create' module.id 'image' %}">Картинка</a></li>
                <li><a href="{% url 'module_content_create' module.id 'video' %}">Видео</a></li>
                <li><a href="{% url 'module_content_create' module.id 'file' %}">Файл</a></li>
                <li><a href="{% url 'module_content_create' module.id 'code' %}">Листинг кода</a></li>
            </ul>
        </div>
    {% endwith %}
{% endblock %}
