{% extends 'index.html' %}

{% block title %}Мои курсы{% endblock %}

{% block content %}
    <h3>Мои курсы</h3>
    <div>
        {% for course in object_list %}
            <p><{{ course.title }}</p>
            <p><a href="{% url 'user_course_detail' course.id %}">Продолжить обучение</a></p>
        {% empty %}
            <p>
                Вы пока не записаны ни на один из курсов.
                <a href="{% url 'course_list' %}">Искать курсы</a>
            </p>
        {% endfor %}
    </div>
{% endblock %}
