{% extends 'index.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    {% with subject=course.subject %}
        <h3>{{ object.title }}</h3>
        <p><a href="{% url 'course_list_subject' subject.slug %}">{{ subject.title }}</a></p>
        <p>Преподаватель: {% include 'user_username.html' with user=course.owner %}</p>
        <p>{{ object.overview|linebreaks }}</p>
        {% if request.user.is_authenticated %}
            {% if is_subscribed %}
                <p>Вы уже подписаны на этот курс!</p>
            {% else %}
                <form action="{% url 'user_subscribe_course' %}" method="post">
                    {{ subscribe_form }}
                    {% csrf_token %}
                    <input type="submit" class="button" value="Записаться на курс">
                </form>
            {% endif %}
        {% else %}
            <p>Чтобы записаться на курс, <a href="{% url 'login' %}">Войдите в аккаунт</a></p>
        {% endif %}
    {% endwith %}
{% endblock %}
