{% extends 'index.html' %}

{% block title %}
    {% if subject %}
        {{ subject.title }}
    {% else %}
        Все курсы
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        <div class="subj-menu">
            <ul class="subject-menu">
                <li {% if not subject %}class="selected"{% endif %}>
                    <a href="{% url 'course_list' %}" class="subj">Все предметы
                        <br>
                        <span>Всего курсов: {{ courses.courses_set.count }}</span></a>
                </li>
                {% for subject__ in subjects %}
                    <li {% if subject == subject__ %}class="selected"{% endif %}>
                        <a href="{% url 'course_list_subject' subject__.slug %}" class="subj">
                            {{ subject__.title }}
                            <br>
                            <span>Курсов: {{ subject__.total_courses }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br>
    <br>
    <br>
    <h2>
        {% if subject %}
            Курсы по предмету "{{ subject.title }}"
        {% else %}
            Все курсы
        {% endif %}
    </h2>
    <div>
        {% for course in courses %}
            {% with subject=course.subject %}
                <div class="course-list">
                    <h3><a href="{% url 'course_detail' course.slug %}">{{ course.title|truncatechars:30 }}</a> <a
                            class="article-tag">{{ course.subject }}</a></h3>
                    <p class="course-review">Модулей: {{ course.total_modules }},
                        Преподаватель: {% include 'user_username.html' with user=course.owner %}</p>
                    <p>{{ course.overview|linebreaksbr|safe|truncatewords:100|truncatechars:100 }}</p>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}
