{% extends 'index.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <form action="" method="post" class="transparent">
        <div class="form-inner">
            <h3>Регистрация</h3>
            {{ user_form.as_p }}
            {% csrf_token %}
            Нажимая на кнопку «Зарегистрироваться», я даю <a href="{% url 'privacy' %}">согласие на обработку
            персональных данных.</a>
            <p><input type="submit" value="Зарегистрироваться"></p>
        </div>
    </form>
{% endblock %}
