body {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", sans-serif;
    background-color: #FFFFFF;
}

div {
    display: block;
}

.header {
    height: 130px;
    margin: 0 10%;
    background-color: #2c2c2c;
    transition: 0.5s ease;
}

.header .account {
    border: 1px #AAAAAA solid;
    width: 300px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 110px;
    color: white;
    float: right;
}

.account p a {
    color: white;
}

div.message {
    margin: 2% 10%;
    background-color: green;
}

.logo {
    position: absolute;
    font-size: 30px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
}

.navigation {
    margin: 2% 10%;
    background-color: #2c2c2c;
}

ul.navbar {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2c2c2c;
}

li {
    float: left;
    position: relative;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    transition: 0.5s ease;
}

li a:hover {
    background-color: aquamarine;
}

div.content {
    margin: 2% 10%;
}

div.content .paragraph {
    padding: 10px;
}

::selection {
    background-color: aquamarine;
}

.image {
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 195px;
    float: right;
    position: absolute;
}
