html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: "Century Gothic", sans-serif;
    margin: 0;
    padding: 0;
    color: #BBBBBB;
    background-size: cover;
    background: #232327 url(https://krot.info/uploads/posts/2020-01/1579319884_40-100.jpg) fixed;
}

textarea {
    font-family: "Century Gothic", sans-serif;
    resize: none;
}

div.wrapper {
    min-height: 100%;
    padding-bottom: 70px;
}

div.header {
    height: 90px;
    min-width: 1100px;
}

div.title {
    padding-left: 15%;
    padding-top: 20px;
    position: absolute;
    font-size: 30px;
    color: white;
}

div.slug {
    padding-left: 15%;
    padding-top: 58px;
    font-size: 17px;
    color: #FFF;
    position: absolute;
}

div.account {
    margin-right: 15%;
    float: right;
    right: 0;
    padding-top: 20px;
    color: white;
    font-size: 18px;
    position: relative;
}

a.olymp {
    color: white;
    text-decoration: none;
}

a.prog {
    color: #AAAAAA;
    text-decoration: none;
}

a.account {
    text-decoration: none;
    color: white;
    font-family: "Century Gothic", sans-serif;
}

div.navigation-menu {
    height: 50px;
    margin: 0 15%;
    min-width: 850px;
}

div.navbar {
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
    position: absolute;
}

ul {
    list-style: none;
}

a {
    color: white;
}

ul.main-menu {
    overflow: hidden;
    background-color: rgba(16, 16, 16,  0.5);
    position: relative;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    position: relative;
}

div.navigation-menu ul.main-menu li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px 15px;
    transition: 0.5s ease;
}

li a:hover {
    background-color: aquamarine;
}

div.content {
    margin: 10px 15% 50px;
    min-width: 800px;
    background-color: rgba(16, 16, 16, 0.5);
    min-height: 800px;
    padding: 15px;
}

div.sub-detail {
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 20px;
    min-height: 800px;
}

div.sub-nav {
    width: 100%;
    position: absolute;
    min-width: 780px;
}

ul.sub-nav {
    position: relative;
    margin: 0;
    padding: 0;
}

ul.sub-nav li a {
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 5px 10px;
    transition: 0.5s ease;
}

div.sub-content {
    padding: 30px 10px 10px;
    min-width: 900px;
}

div.account-image {
    margin-top: 20px;
    border: white 1px solid;
    padding: 15px 15px 30px;
    width: 300px;
    position: absolute;
}

div.account-image img {
    width: 300px;
}

div.account-info {
    margin-left: 350px;
}

p.about {
    font-size: 15px;
    color: #AAAAAA;
    width: 250px;
}

table.standart-table {
    border: #AAAAAA 1px solid;
    border-collapse: collapse;
    width: 90%;
    margin-top: 20px;
    min-width: 700px;
    position: relative;
}

table.standart-table tr {
    border: #AAAAAA 1px solid;
}

table.standart-table tr th {
    border: #AAAAAA 1px solid;
    padding: 7px;
    color: white;
}

table.standart-table tr td {
    border: #AAAAAA 1px solid;
    padding: 7px;
}

div.task h1, h4 {
    color: white;
}

div.task table td {
    text-align: left;
}

footer {
    height: 100px;
    margin-top: -100px;
}

footer hr {
    width: 70%;
}

div.footer {
    margin: 20px 15%;
}

hr {
    size: 1px;
}

.transparent {
    box-sizing: border-box;
    position: relative;
    max-width: 400px;
    padding: 60px 50px;
    margin: 50px auto 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}

.transparent-edit {
    box-sizing: border-box;
    position: relative;
    padding: 60px 50px;
    margin: 50px auto 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}

.transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.form-inner {
    position: relative;
}

.form-inner h3 {
    position: relative;
    margin-top: 0;
    color: white;
    font-weight: 300;
    font-size: 26px;
    text-transform: uppercase;
}

.form-inner h3:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 60px;
    background: aquamarine;
}

.form-inner label {
    box-sizing: border-box;
    display: block;
    padding-left: 15px;
    color: rgba(255, 255, 255, .6);
    text-transform: uppercase;
    font-size: 14px;
}

.form-inner input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0 15px;
    margin: 10px 0 15px;
    border-width: 0;
    line-height: 40px;
    border-radius: 0;
    color: white;
    background: rgba(0, 255, 255, 0.2);
}

.form-inner textarea {
    margin-top: 10px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    background: rgba(0, 255, 255, 0.2);
    border: none;
    color: white;
    font-size: 16px;
}

.form-inner ul, span.helptext {
    display: none;
}

.form-inner input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

#custom-checkbox + label {
    position: relative;
    margin: 20px 0;
    text-transform: none;
    cursor: pointer;
}

#custom-checkbox + label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: text-top;
    background: white;
}

#custom-checkbox:checked + label:before {
    background: aquamarine;
}

#custom-checkbox:checked + label:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    left: 20px;
    top: 9px;
    background: white;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}

.form-inner input[type="submit"] {
    background: mediumaquamarine;
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
}

button.file-upload {
    margin-top: 10px;
    display: block;
    width: 332px;
    height: 40px;
    color: white;
    background-color: mediumaquamarine;
    border: none;
}

input.input-button {
    display: none;
}

div.file-upload {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    width: 332px;
    height: 40px;
    background: mediumaquamarine;
    color: #fff;
    text-align: center;
    vertical-align: center;
}

.file-upload label {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

form.search {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 20px;
}

form.search input#id_search_text {
    height: 24px;
    width: 280px;
}

form.search input#submit {
    background-color: mediumaquamarine;
    height: 30px;
    width: 100px;
    color: white;
    border: none;
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
}

div.blog-article-preview {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px 0;
}

a.article-title {
    text-decoration: none;
    font-size: 26px;
    color: white;
}

a.article-tag {
    background: rgba(0, 255, 255, 0.2);
    padding: 3px;
    border-radius: 3px;
}

p.article-title {
    font-size: 26px;
    color: white;
}

div.comment-form {
    background: rgba(0, 0, 0, 0.5);
    width: 590px;
    padding: 10px;
}

div.comment-form input#submit {
    margin-left: 370px;
    background-color: mediumaquamarine;
    height: 30px;
    width: 220px;
    color: white;
    border: none;
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
    margin-top: 94px;
}

div.comment-form textarea#id_body {
    margin-left: 70px;
    width: 516px;
    height: 76px;
    color: white;
    background: rgba(0, 255, 255, 0.2);
    border: none;
    position: absolute;
}

div.comment-form img {
    width: 50px;
    position: absolute;
    border: white 1px solid;
    padding: 5px 5px 10px;
}

div.comment-form a {
    margin-left: 100px;
}

div.comment-field {
    margin: 10px 0;
    padding: 10px;
}

div.comment-field p {
    margin-left: 70px;
}

div.comment-field a {
    margin-left: 35px;
    float: top;
}

div.comment-field img {
    width: 45px;
    border: white 1px solid;
    padding: 5px 5px 8px;
    position: absolute;
}

div.comment-field:nth-child(even) {
    background: rgba(16, 16, 16, 0.5);
}

div.comment-field:nth-child(odd) {
    background: rgba(0, 0, 0, 0.5);
}

table.contest-table {
    color: white;
    align-self: center;
    width: 80%;
    border: #999999 3px solid;
    border-radius: 2px;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 50px;
}

table.contest-table th {
    padding: 10px;
    border: #999999 3px solid;
}

table.contest-table td {
    border: #999999 3px solid;
    color: #AAAAAA;
    padding: 10px;
    text-align: center;
}

table.contest-table tr {
    border: #CCCCCC 3px solid;
    padding: 10px;
}

div.pagination {
    color: #BBBBBB;
    font-size: 18px;
    padding: 20px 0;
}

div.pagination a {
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
}

div.pagination a:hover {
    background: aquamarine;
}
