{% extends 'index.html' %}

{% block title %}Соревнования{% endblock %}

{% block content %}
    <p>Анонс соревнований:</p>
    {% for contest in object_list %}
        {% if not contest.active and not contest.completed %}
            <p><a href="{% url 'contest_detail' contest.pk %}">{{ contest.title }}</a></p>
            <p>{{ contest.starts_at }}</p>
            {% if request.user.is_authenticated %}
                {% if request.user.user_profile.member %}
                    <p><a href="{% url 'contest_waiting' contest.pk %}">Войти</a></p>
                {% else %}
                    <p><a href="{% url 'contest_register' contest.pk %}">Регистрация</a></p>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    <p>Текущие соревнования:</p>
    {% for contest in object_list %}
        {% if contest.active %}
            <p>{{ contest.title }}</p>
            {% if request.user.is_authenticated %}
                {% if request.user.user_profile.member %}
                    <p><a href="{% url 'contest_task_list' contest.pk %}">Войти</a></p>
                {% else %}
                    <p><a href="{% url 'contest_register' contest.pk %}">Регистрация</a></p>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    <p>Прошедшие соревнования:</p>
    {% for contest in object_list %}
        {% if contest.completed %}
            <p><a href="#">{{ contest.title }}</a></p>
            <p><a href="{% url 'contest_rating' contest.pk %}">Результаты</a></p>
        {% endif %}
    {% endfor %}
{% endblock %}
