{% extends 'index.html' %}

{% block title %}Регистрация на {{ contest.title }}{% endblock %}

{% block content %}
    <div class="contest-reg">
        <h3>Регистрация на раунд {{ contest.title }}</h3>
        <p>Пожалуйста, ознакомьтесь в правилами участия в соревновании:</p>
        <table>
            <tr>
                <td>
                    &bull;
                    Каждый пользователь участвует в соревновании строго индивидуально.
                    Запрещено обмениваться идеями и решениями с другими участниками.
                </td>
            </tr>
            <tr>
                <td>
                    &bull;
                    В решениях участников запрещено использование уязвимостей системы и попытка нанесения вреда процессу соревнования.

                </td>
            </tr>
            <tr>
                <td>
                    &bull;
                    Запрещается использовать несколько своих аккаунтов во время участия в соревновании.
                </td>
            </tr>
        </table>
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Зарегистрироваться">
        </form>
    </div>
{% endblock %}
