{% extends 'index.html' %}

{% block title %}{{ contest.title }}{% endblock %}

{% block content %}
    {% if request.user.user_profile.member and not contest.completed or contest.completed %}
        <div class="sub-nav">
            <ul class="sub-nav">
                <li><a href="{% url 'contest_task_list' contest.pk %}">Задачи</a></li>
                <li><a href="{% url 'contest_packages' contest.pk %}">Посылки</a></li>
                <li>
                    {% if not contest.completed %}
                        <a href="{% url 'contest_rating' contest.pk %}">
                            Текущий рейтинг
                        </a>
                    {% else %}
                        <a href="{% url 'contest_result' contest.pk %}">
                            Результаты
                        </a>
                    {% endif %}
                </li>
                {% if contest.active %}
                    <li><a id="timer" href="#"></a></li>
                {% endif %}
            </ul>
        </div>
        <p></p>
        <div class="sub-content">
        {% block contest_detail %}
        {% endblock %}
        </div>
        {% if contest.active %}
            <script type="text/javascript">
                Timer();

                function Timer() {
                    let now = new Date();
                    let duration = {{ contest.duration_minutes }};
                    let h = (3 + Math.floor(duration / 60) + {{ contest.starts_at.hour }} -now.getHours() + 24) % 24;
                    let m = (duration % 60 + {{ contest.starts_at.minute }} -now.getMinutes() + 60) % 60;
                    let s = ({{ contest.starts_at.second }} -now.getSeconds() + 60) % 60;

                    if (s == 0) {
                        if (m == 0) {
                            if (h == 0) {
                                alert("Соревнование закончилось. Пожалуйста, перейдите к таблице результатов.");
                                window.location.replace("http://127.0.0.1:8000/contest/{{ contest.pk }}/problemset/");
                                return;
                            }
                            --h;
                            m = 59;
                            if (h < 10) h = '0' + h;
                        }
                        --m;
                        if (m < 10) m = '0' + m;
                        s = 59;
                    } else --s;
                    if (s < 10) s = '0' + s;
                    document.getElementById('timer').innerHTML = h + ':' + m + ':' + s;
                    setTimeout(Timer, 1000);
                }
            </script>
        {% endif %}
    {% else %}
        <p>
            Для участия в соревновании необходимо
            <a href="{% url 'contest_register' contest.pk %}?next={{ request.path }}">
                Зарегистрироваться
            </a>
        </p>
    {% endif %}


    {#    <script type="text/javascript">#}
    {#        let now = new Date();#}
    {#        let after = new Date;#}
    {#        after.setSeconds(now.getSeconds() + 2);#}
    {#        setTimeout(function F() {#}
    {#            alert('Соревнование завершено');#}
    {#            window.location.replace("http://127.0.0.1:8000");#}
    {#        }, 1000 * (after.getSeconds() - now.getSeconds()));#}
    {#    </script>#}
{% endblock %}
