{% extends 'contest/detail.html' %}

{% block title %}Посылки {{ request.user }}{% endblock %}

{% block contest_detail %}
    Посылки участника {{ request.user }}
    {% for participant in contest.participants.all %}
        {% if participant.user.user == request.user %}
            <table>
                <tr>
                    <th>Участник</th>
                    <th>ID Посылки</th>
                    <th>Время посылки</th>
                    <th>Задача</th>
                    <th>Язык</th>
                    <th>Вердикт</th>
                </tr>
                {% for package in participant.packages.all %}
                    <tr>
                        <td>{{ request.user }}</td>
                        <td>
                            <a href="{% url 'contest_package_detail' pk=contest.pk difficulty=package.task.difficulty id=package.id %}">{{ package.id }}</a>
                        </td>
                        <td>{{ package.package_time }}</td>
                        <td>
                            <a href="{% url 'contest_task_detail' pk=contest.pk difficulty=package.task.difficulty %}">
                                {{ package.task.title }}
                            </a>
                        </td>
                        <td>{{ package.language }}</td>
                        <td>{{ package.verdict }}</td>
                    </tr>
                {% empty %}
                    <p>Вы пока не отправляли решение этой задачи на проверку</p>
                {% endfor %}
            </table>
        {% endif %}
    {% endfor %}
{% endblock %}
