{% extends 'contest/detail.html' %}

{% block title %}Посылки{% endblock %}

{% block contest_detail %}
    <table class="standart-table">
        <tr>
            <th>Участник</th>
            <th>ID посылки</th>
            <th>Время посылки</th>
            <th>Задача</th>
            <th>Язык</th>
            <th>Вердикт</th>
        </tr>
        {% for package in packages %}
            <tr>
                <td>{% include 'user_username.html' with user=package.participant.user %}</td>
                <td>
                    <a href="{% url 'contest_package_detail' pk=contest.pk difficulty=task.difficulty id=package.id %}">{{ package.id }}</a>
                </td>
                <td>{{ package.package_time }}</td>
                <td>
                    <a href="{% url 'contest_task_detail' pk=contest.pk difficulty=task.difficulty %}">
                        {{ task.title }}
                    </a>
                </td>
                <td>{{ package.language }}</td>
                <td>{{ package.verdict }}</td>
            </tr>
        {% empty %}
            <p>Вы пока не отправляли решение этой задачи на проверку</p>
        {% endfor %}
    </table>
{% endblock %}
