{% extends 'contest/detail.html' %}

{% block title %}Рейтинг участников{% endblock %}

{% block contest_detail %}
    <table class="standart-table">
        <tr>
            <th>Место</th>
            <th>Никнейм</th>
            <th>Штраф</th>
            {% for task in contest.tasks.all %}
                <th>{{ task.difficulty|upper }}</th>
            {% endfor %}
        </tr>
        {% for participant in contest.participants.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{% include 'user_username.html' with user=participant.user %}</td>
                <td>{{ participant.penalty }}</td>
                {% for res in participant.stats %}
                    {% if forloop.counter <= contest.tasks.count %}
                        {% if res == 0 %}
                            <td class="stats"></td>
                        {% elif res == 1 %}
                            <td class="stats"><b style="color: #00fa89">+</b></td>
                        {% else %}
                            <td class="stats"><b style="color: #fa596b">-</b></td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
