{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/styles.css" %}" rel="stylesheet">
    <link href="{% static 'css/obsidian.css' %}" rel='stylesheet'/>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon (2).ico' %}">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="title">
            <a href="#" class="olymp">OLYMPUS </a><a href="#" class="prog">PROGRAMMING</a>
        </div>
        <div class="slug">
            <i>Не можешь возглавить проблему - реши её.</i>
        </div>
        <div class="account">
            {% if request.user.is_authenticated %}
                <pre><a href="{% url 'profile' request.user.user_profile %}" class="account">{{ request.user.user_profile }}</a>     |     <a
                        href="{% url 'logout' %}?next={{ request.path }}" class="account">Выйти</a></pre>
            {% else %}
                <pre><a href="{% url 'login' %}" class="account">Войти</a>     |     <a href="{% url 'register' %}" class="account">Регистрация</a></pre>
            {% endif %}
        </div>
    </div>
    <div class="navigation-menu">
        <ul class="main-menu">
            <li><a href="{% url 'article_list' %}">Новости</a></li>
            <li><a href="{% url 'contest_list' %}">Соревнования</a></li>
            <li><a href="{% url 'archive_task_list' %}">Архив задач</a></li>
            <li><a href="{% url 'user_rating_list' %}">Рейтинг</a></li>
            <li><a href="{% url 'course_list' %}">Образование</a></li>
            <li><a href="{% url 'course_main_page' %}">Преподавание</a></li>
        </ul>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="messages">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</div>
<footer>
    <hr>
    <div class="footer">

        <a>&copy; 2020 Olympus programming</a><br>
        <a href="{% url 'privacy' %}">Политика конфиденциальности</a>

    </div>
</footer>
<script src='http://yastatic.net/highlightjs/8.2/highlight.min.js'>
</script>
<script type='text/javascript'>hljs.initHighlightingOnLoad();</script>
</body>
</html>
